.bundle
.rvmrc
db/*.sqlite3
.sqlite3
log/*.log
tmp
.DS_Store
doc/api
doc/app
config/database.yml
config/settings.yml
config/deploy.rb
config/deploy
Capfile
public/thumbs
public/uploads
vendor/cache
test/dummy/public
test/dummy/tmp